# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# Intermediate Files and Caches
*.bbl
*.log
*.nav
*.snm
*.synctex.gz
*.tex
*.toc
*.vrb
cache/
Figs/*.pdf



.Rproj.user
